eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8765
spring:
  application:
    name: service-feign

feign.hystrix.enabled: true

ribbon:
  ReadTimeout: 60000
  ConnectTimeout: 60000